@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgba(255, 255, 255, 0.634);
    font-family: 'Playfair Display', serif;
    color: rgb(72, 245, 135);
}

.container{
    background-color: rgb(227, 72, 229);
    height: 163vh;
    width: 100vw;  
    /* margin: 100px; */
    padding-top: 80px;
}

.d1{
    background-color: rgb(220, 246, 89);
    height: 40vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    /* margin-top: 50px; */
    margin-bottom: 1vh;
}

.d1 h1{
    position :absolute;
    font-size: 4em;
}

.d1 img{
    height: 40vh;
    width: 90vw;
}

.d2{
    background-color: rgb(131, 168, 240);
    height: 40vh;
    width: 90vw;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
    text-align: center;
    margin-bottom: 1vh;
}

.d2 img{
    height: 20vh;
    width: 15w;
    border: 1em;
    border-style:ridge;
}

.d3{
    background-color: rgb(245, 130, 23);
    height: 40vh;
    width: 90vw;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
    text-align: center;
    margin-bottom: 1vh;
}

.d3 img{
    height: 20vh;
    width: 30vh;
    border: 1em;
    border-style:ridge;
}

.d4{
    background-color: rgb(232, 86, 132);
    height: 40vh;
    width: 90vw;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
    text-align: center;
    margin-bottom: 1vh;
}

.d4 img{
    height: 20vh;
    width: 30vw;
    border: 1em;
    border-style:ridge;
}

img{
    border: 1em;
    border-style:unset ;
}